@font-face {font-family: 华康POP2体繁W9; src: url("./fonts/华康POP2体繁W9.TTC") format('truetype'); } 
@font-face {font-family: 华康POP3体繁W12; src: url("./fonts/华康POP3体繁W12.TTC") format('truetype'); } 
@font-face {font-family: 华康仿宋体简W3-A; src: url("./fonts/华康仿宋体简W3-A.TTF") format('truetype'); } 
@font-face {font-family: 华康仿宋体繁W4; src: url("./fonts/华康仿宋体繁W4.TTC") format('truetype'); } 
@font-face {font-family: 华康勘亭流简W9; src: url("./fonts/华康勘亭流简W9.ttc") format('truetype'); } 
@font-face {font-family: 华康流风体繁; src: url("./fonts/华康流风体繁.ttf") format('truetype'); } 
@font-face {font-family: 华康竹风体繁; src: url("./fonts/华康竹风体繁.ttf") format('truetype'); } 
@font-face {font-family: 华康简仿宋; src: url("./fonts/华康简仿宋.ttf") format('truetype'); } 
@font-face {font-family: 华康芸风体; src: url("./fonts/华康芸风体.ttc") format('truetype'); } 
@font-face {font-family: 華康POP1體W9; src: url("./fonts/華康POP1體W9.TTC") format('truetype'); } 
@font-face {font-family: 華康中圓體; src: url("./fonts/華康中圓體.TTC") format('truetype'); } 
@font-face {font-family: 華康中黑體; src: url("./fonts/華康中黑體.TTC") format('truetype'); } 
@font-face {font-family: 華康儷中宋; src: url("./fonts/華康儷中宋.TTC") format('truetype'); } 
@font-face {font-family: 華康儷中黑; src: url("./fonts/華康儷中黑.TTC") format('truetype'); } 
@font-face {font-family: 華康儷特圓; src: url("./fonts/華康儷特圓.TTC") format('truetype'); } 
@font-face {font-family: 華康儷粗圓; src: url("./fonts/華康儷粗圓.TTC") format('truetype'); } 
@font-face {font-family: 華康儷粗宋; src: url("./fonts/華康儷粗宋.TTC") format('truetype'); } 
@font-face {font-family: 華康儷粗黑; src: url("./fonts/華康儷粗黑.TTC") format('truetype'); } 
@font-face {font-family: 華康儷細黑; src: url("./fonts/華康儷細黑.TTC") format('truetype'); } 
@font-face {font-family: 華康儷金黑; src: url("./fonts/華康儷金黑.TTC") format('truetype'); } 
@font-face {font-family: 華康儷雅宋; src: url("./fonts/華康儷雅宋.ttf") format('truetype'); } 
@font-face {font-family: 華康儷黑; src: url("./fonts/華康儷黑.otf") format('opentype'); } 
@font-face {font-family: 華康少女字W6; src: url("./fonts/華康少女字W6.TTF") format('truetype'); } 
@font-face {font-family: 華康流隸t; src: url("./fonts/華康流隸t.ttf") format('truetype'); } 
@font-face {font-family: 華康流隸體; src: url("./fonts/華康流隸體.TTC") format('truetype'); } 
@font-face {font-family: 華康特粗圓體; src: url("./fonts/華康特粗圓體.ttf") format('truetype'); } 
@font-face {font-family: 華康粗圓體; src: url("./fonts/華康粗圓體.TTC") format('truetype'); } 
